body { background: beige;
}

h1 {    text-align: center;
    background-color: chocolate;
    padding: 10px;
}

main{text-align: center;
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  main {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .kedua::after {
    content: "";
    display: table;
    clear: both;
  }


  